body {
    padding: 0;
    margin: 0;
}

.gridContainer {
    max-width: 100vh;
}

.grid {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.column {
flex: 1;
height:fit-content

}

.cell {
    
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    aspect-ratio: 1/1;
    border: 1px solid black;
    width: auto;
    height: auto;
    

}