body {
    padding: 0;
    margin: 0;
}

.gridContainer {
    max-width: 100vh;
}

.grid {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.column {
flex: 1;
height:fit-content

}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    aspect-ratio: 1/1;
    border: 0.7px solid black;
    width: auto;
    height: auto;
    

}
 .button {
    border:1px solid black;
    border-radius: 2px;
    padding: 3px;
    margin: 15px;
    display: flex;
    justify-content: flex-start;

 }
 .button:hover {
    background-color:orange;

 }